
RewriteEngine on
RewriteCond %{HTTP_HOST} ^levorock.clubbonsaibunjin.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.levorock.clubbonsaibunjin.com$
RewriteRule ^(.*)$ "http\:\/\/levorock\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^levorock.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.levorock.com$
RewriteRule ^facebook$ "http\:\/\/www\.facebook\.com\/pages\/LEVO\/61865320061" [R=301,L]

RewriteCond %{HTTP_HOST} ^levorock.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.levorock.com$
RewriteRule ^myspace$ "http\:\/\/www\.myspace\.com\/levorock" [R=301,L]
